.benefits{
    padding:5px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: white;
    box-shadow:0 0 5px rgb(76, 165, 233),0 0 5px black;
    color: black;
    position : relative;
    transition:box-shadow 0.3s ease;
    animation: popup 2s ease-in-out;
}
.benefits:hover{
    box-shadow:0 0 30px rgb(76, 165, 233),0 0 30px black;
}
#b-h2{
    text-shadow: 0 0 20px rgb(76, 165, 233);
    font-size: 40px;
    cursor:pointer;
    text-align:center;
    position:sticky;
    top:10px;
    background-color: white;
}
#bAfter-h2{
    text-shadow: 0 0 20px rgb(76, 165, 233);
    font-size: 30px;
    cursor:pointer;
    text-align:left;
    position:sticky;
    top:10px;
    background-color: white;
}
.benefits li{
    margin-bottom: 10px;
    font-size: large;
}