footer{
    text-align: center;
    padding: 5px;
    background: linear-gradient(360deg, rgb(76, 165, 233), rgb(172, 203, 227));
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: white;
    text-shadow:0 0 20px black;
}