body{
    background-color: rgb(172, 203, 227);
}
header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    padding: 5px;
    color: white;
    text-shadow: 0 0 20px rgb(76, 165, 233), 0 0 20px black;
    background: linear-gradient(180deg, rgb(76, 165, 233), rgb(172, 203, 227));
}
header h1{
    animation:slideUP 1.5s ease;
}
@keyframes slideUP{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes popup {
    0% {
        transform:scale(0);
        opacity: 0;
    }
    25% {
        transform:scale(0.25);
        opacity: 0;
    }
    50% {
        transform:scale(0.50);
        opacity: 0;
    }
    75% {
        transform:scale(0.75);
        opacity: 0;
    }
    100% { 
        transform:scale(1);
        opacity: 1;
    }
}
.benefits{
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: white;
    box-shadow:0 0 5px rgb(76, 165, 233),0 0 5px black;
    color: black;
    position : relative;
    transition:box-shadow 0.3s ease;
    animation: popup 2s ease-in-out;
}
.benefits:hover{
    box-shadow:0 0 30px rgb(76, 165, 233),0 0 30px black;
}
#b-h2{
    text-shadow: 0 0 20px rgb(76, 165, 233);
    font-size: 40px;
    cursor:pointer;
    text-align:center;
    position:sticky;
    top:10px;
    background-color: white;
}
#bAfter-h2{
    text-shadow: 0 0 20px rgb(76, 165, 233);
    font-size: 30px;
    cursor:pointer;
    text-align:left;
    position:sticky;
    top:10px;
    background-color: white;
}
.benefits li{
    margin-bottom: 10px;
    font-size: large;
}
.career{
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    border: 2px solid #000;
    border-radius: 10px;
    animation: popup 2.5s ease-in-out;
    box-shadow:0 0 5px rgb(76, 165, 233),0 0 5px black;
    color: black;
    position : relative;
    margin-top: 10px;
    transition:all 0.3s ease;
}
.career:hover{
    box-shadow:0 0 30px rgb(76, 165, 233),0 0 30px black;
}
.career h2{
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 20px rgb(76, 165, 233), 0 0 20px black;
    color: white;
    position:sticky;
    top:10px;
    background-color:rgb(172, 203, 227);
    cursor:pointer;
}
#career-option{
    border: solid;
    display: flex;
    border-radius: 1%;
    margin-bottom: 20px;
    box-shadow:0 0 10px black;
    transition:box-shadow 0.3s ease;
    background-color: white;
}
@media (max-width: 768px){
    #career-option{
        flex-direction:column;
        align-items: center;
    }
}
@media (max-width: 320px){
    #career-option{
        flex-direction:column;
        align-items: center;
    }
}
@media (max-width: 480px){
    #career-option{
        flex-direction:column;
        align-items: center;
    }
}
@media (max-width: 600px){
    #career-option{
        flex-direction:column;
        align-items: center;
    }
}
#career-option:hover{
    box-shadow:0 0 80px rgb(76, 165, 233),0 0 80px black;
}
.career-option{
    margin-left: 20px;
    max-width: auto;
}
.career-option li{
    margin-bottom: 20px;
    font-size: large;
}
#h1{
    text-shadow: 0 0 20px rgb(76, 165, 233);
}
#img{
    display:none;
}
#li{
    display:none;
}
/* after */
#img2{
    display:block;
    animation: slideInFromLeft 1s ease-in-out;
}
#li2{
    display:block;
    animation:slideInFromDown 1s ease-in-out;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInFromDown {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.exam{
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    border: 2px solid #000;
    align-items: center;
    box-shadow:0 0 5px rgb(76, 165, 233),0 0 5px black;
    color: black;
    position : relative;
    margin-top: 10px;
    transition:box-shadow 0.3s ease;
    background-color: white;
    animation: popup 3s ease-in-out;
    border-radius: 10px;
}
.exam:hover{
    box-shadow:0 0 50px rgb(76, 165, 233),0 0 60px black;
}
.exam h2{
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 20px rgb(76, 165, 233);
    position:sticky;
    top:10px;
    background-color: white;
    cursor:pointer;
}
.exam h3{
    font-size: 25px;
    text-shadow: 0 0 20px rgb(76, 165, 233);
}
.exam li{
    margin-bottom: 10px;
    font-size: large;
}
.time{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding:5px;
    border: 2px solid #000;
    box-shadow:0 0 5px rgb(76, 165, 233),0 0 5px black;
    color: black;
    position : relative;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: white;
    animation: popup 3.5s ease-in-out;
}
.time:hover{
    box-shadow:0 0 50px rgb(76, 165, 233),0 0 60px black;
}
.time h2{
    text-align: center;
    font-size: 40px;
    text-shadow:0 0 5px rgb(76, 165, 233) ;
    position:sticky;
    top:10px;
    background-color: white;
    cursor:pointer;
}
.time h3{
    font-size: 25px;
    text-shadow: 0 0 20px rgb(76, 165, 233);
}
.college h2{
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 5px rgb(76, 165, 233);
    color: black;
    top:10px;
    background-color:white;
    padding:20px;
    border: 2px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    animation: popup 4s ease-in-out;
}
.college h2:hover{
    box-shadow:0 0 50px rgb(76, 165, 233),0 0 60px black;
}
.college-name{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    color: black;
    background-color:white;
    text-align:center;
    padding:20px;
    transition:all 0.3s ;
}

footer{
    text-align: center;
    padding: 5px;
    background: linear-gradient(360deg, rgb(76, 165, 233), rgb(172, 203, 227));
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: white;
    text-shadow:0 0 20px black;
}