.time{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding:5px;
    border: 2px solid #000;
    box-shadow:0 0 5px rgb(76, 165, 233),0 0 5px black;
    color: black;
    position : relative;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: white;
    animation: popup 3.5s ease-in-out;
}
.time:hover{
    box-shadow:0 0 50px rgb(76, 165, 233),0 0 60px black;
}
.time h2{
    text-align: center;
    font-size: 40px;
    text-shadow:0 0 5px rgb(76, 165, 233) ;
    position:sticky;
    top:10px;
    background-color: white;
    cursor:pointer;
}
.time h3{
    font-size: 25px;
    text-shadow: 0 0 20px rgb(76, 165, 233);
}